<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <appSettings>
    <!--沟通-->
    <add key="MaxMailQueue" value="100" />
    <add key="MaxSmsQueue" value="1000" />
    <add key="MailInterval" value="60000" />
    <add key="SmsSendInterval" value="60000" />
    <add key="WeChatSendInterval" value="60000" />
    <add key="SmsReceiveInterval" value="60000" />
    <add key="MailSendLogInterval" value="60000" />
    <add key="SmsSendLogInterval" value="60000" />
    <add key="WeChatSendLogInterval" value="60000" />
    <add key="SmsReceiveLogTimerInterval" value="60000" />
    <add key="IsCloseSms" value="False" />
    <add key="IsCloseWechat" value="False" />
    <add key="IsExchange" value="True" />
    <add key="MailRegex" value="^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$" />
    <add key="SendSmsUid" value="1726" />
    <add key="SMSRegex" value="^1[3|4|5|7|8][0-9]\d{4,8}$" />
    <add key="SmsSendBatchInterval" value="60000" />
    <add key="MaxSmsBatchQueue" value="1000" />
    <add key="SendSmsUrl" value="http://106.3.37.116:8888/" />
    <add key="SMSSPID" value="yaxiacrm" />
    <add key="SMSSPPassword" value="p@ssw0rd" />
    <add key="MaxTryTimes" value="3" />
    <add key="ScretKey" value="kidsland" />
    <add key="WechatAPI" value="http://wx.kidslandchina.com/app/index.php/api" />
    <add key="DefaultWechat" value="omPGPuOChITbIQdHOjjB0ffbOix8" />
    <add key="MaxWechatBatch" value="10000" />
    <add key="WechatPointTempateID" value="URWsa4c8ca5WbrSm6RyF7p5sNUR9K2pOSrHpV64nUGc" />
    <!--end 沟通 -->
    <!--start-市场活动引擎配置项-start-->
    <add key="ActiveInternal" value="50000" />
    <add key="TranslateInternal" value="50000" />
    <add key="PushInternal" value="50000" />
    <add key="PullInternal" value="50000" />
    <add key="NextInternal" value="50000" />
    <add key="FinishInternal" value="50000" />
    <add key="MaxDegreeOfParallelism" value="4" />
    <add key="MaxRecords" value="1000" />
    <add key="CouponSMSTemplate" value="尊敬的智乐会员：您已获得{CouponName}优惠券一张,券已存到您的会员账户中！" />
    <add key="CouponMailSubjectTemplate" value="优惠券" />
    <add key="CouponMailTemplate" value="尊敬的智乐会员：您已获得{CouponName}优惠券一张,券已存到您的会员账户中！" />
    <!--end-市场活动引擎配置项-end-->
    <add key="IntegralValue" />
    <add key="CouponConsumeValue" />
  </appSettings>
  <log4net>
    <logger name="loginfo">
      <level value="INFO" />
      <appender-ref ref="InfoAppender" />
    </logger>
    <logger name="logerror">
      <level value="INFO" />
      <appender-ref ref="ErrorAppender" />
    </logger>
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="Logs\\Info\\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd'.txt'" />
      <staticLogFileName value="false" />
      <param name="MaxSizeRollBackups" value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline 记录时间：%date %n线程ID:[%thread] %n信息描述：%message%newline %n" />
      </layout>
    </appender>
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="Logs\\Error\\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd'.txt'" />
      <staticLogFileName value="false" />
      <param name="MaxSizeRollBackups" value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline 记录时间：%date %n线程ID:[%thread] %n信息描述：%message%newline %n" />
      </layout>
    </appender>
  </log4net>
  <connectionStrings>
    <!--<add name="CRMEntities" connectionString="metadata=res://*/CRM.csdl|res://*/CRM.ssdl|res://*/CRM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BigbWorks_CRM;persist security info=True;user id=sa;password=LenovoL421;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="CRMEntities" connectionString="metadata=res://*/CRM.csdl|res://*/CRM.ssdl|res://*/CRM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1,9002;initial catalog=YaXia_CRM_0213;persist security info=True;user id=sa;password=A@1234cn;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="CRMEntities" connectionString="metadata=res://*/CRM.csdl|res://*/CRM.ssdl|res://*/CRM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=42.159.252.246;initial catalog=Kidsland_CRM_Phase3;user id=sa;password=PdfaG8#%gpolk04Fwaf;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>