@{
    ViewBag.Title = "ExchangeGoods";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@System.Web.Optimization.Scripts.Render("~/Gebo/lib/plupload/js/plupload.js", "~/Gebo/lib/plupload/js/plupload.gears.js", "~/Gebo/lib/plupload/js/plupload.silverlight.js", "~/Gebo/lib/plupload/js/plupload.flash.js", "~/Gebo/lib/plupload/js/plupload.browserplus.js", "~/Gebo/lib/plupload/js/plupload.html4.js", "~/Gebo/lib/plupload/js/plupload.html5.js")
<div class="row-fluid heading">

    <div class="pull-left">
        <h3>商品积分兑换</h3>
    </div>
</div>

<div class="sepH_c row-fluid">

    <div class="well firstShow ">
        <div class="row-fluid" id="queryCondition">
            <div class="span3">
                <label class="title-left sepV_a ml10">单号</label>
                <input type="text" id="ExchangeRuleCode" name="ExchangeRuleCode" class="span12"/>
            </div>
            <div class="span3">
                <label class="title-left sepV_a ml10">兑奖类型</label>
                 <select   class="span12 sepV_a input-medium" id="ExchangeType">
                      <option value="">请选择</option>
                      <option value="0">生日兑奖</option>
                      <option value="1">普通兑奖</option>
                  </select>
            </div>
             <div class="span3">
                <label class="title-left sepV_a ml10">状态</label>
                <select   class="span12 sepV_a input-medium" id="Status">
                      <option value="">请选择</option>
                      <option value="0">未审核</option>
                      <option value="1">已审核</option>
                  </select>      
            </div>
            <div class="span3">
                <label class="title-left sepV_a ml10">开始日期</label>
                <input type="text" id="txtStartDate" class="input-medium span12" readonly="readonly">
            </div>
            <div class="span3">
                <label class="title-left sepV_a ml10">结束日期</label>
                <input type="text" id="txtEndDate" class="input-medium span12" readonly="readonly">
            </div>
        </div>
        <div class="q_btn">
            <button class="btn btn-info" id="btnSerach">查询</button>
            
            <button class="btn" id="btnRemove">清除</button>
            <button  class="btn" id="btnAdd">新建</button>
        </div>
    </div>
    <table class="table" data-provides="rowlink" id="dt_Table">
    </table>

    @using (Ajax.BeginForm(null, null, new AjaxOptions { }, new { id = "form1", @class = "hide", @Action = "/MemberSalesPromotion/ExchangeGoods_Add" }))
    {
        <input type="hidden" id="hideID" name="hideID"/>
        <input type="hidden" id="hideInfo" name="hideInfo"/>
    }
</div>




@section Scripts{
    @System.Web.Optimization.Scripts.Render("~/Gebo/lib/validation/jquery.validate.js", "~/Scripts/Framework/jquery.validate.extend.js")

    @System.Web.Optimization.Scripts.Render("~/Scripts/Pages/MemberSalesPromotion/ExchangeGoods.js")
}