<?xml version="1.0" encoding="utf-8" ?>
<SHB.WCFService>
	<!-- WCF host主机地址-->
	<HostAddress>localhost</HostAddress>
	<ServiceName>crm</ServiceName>
	<!-- WCF 暴露的协议 注：WSHttpBinding和BasicHttpBinding 只能二选一 不能同时存在，此处只用BasicHttpBinding-->
	<WSHttpBinding port ="8733">1</WSHttpBinding>
	<BasicHttpBinding port ="8731">0</BasicHttpBinding>
	<TCP port ="8738" maxConnections="200" maxCalls="200" maxInstances="0" listenBacklog="200" >1</TCP>
	<MaxMessage>2147483647</MaxMessage>
	<!--接收和发送数据的时间间隔，即过期关闭连接的时间，以秒为单位。-->
	<SendOrRevTimeOut>30</SendOrRevTimeOut>
	<MinCompressSize>102400</MinCompressSize>
	<Dependency>~/</Dependency>
</SHB.WCFService>