*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, button, input {
    outline: none !important;
    font-family: Helvetica,Arial,"Microsoft YaHei", "微软雅黑",sans-serif;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h5 {
    height: 38px;
    line-height: 18px;
    display: block;
    font-size: 18px;
    font-weight: 100;
    padding: 10px 0 0 30px;
}

h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

i, cite, em, var, address, dfn {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.h1, .h2, .h3, .h4, .h5, .h6, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue","Microsoft YaHei",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.1;
}

ol, ul {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

div {
    display: block;
}


table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    border-color: grey;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}

input[readonly] {
    cursor: default;
    background-color: white;
}

.main_content {
    padding: 50px 30px 0;
}

.left-info {
    float: left;
    width: 100%;
    margin: 10px 10px 0 0;
}

.top {
    border: 1px solid #ddd;
    padding: 10px;
    -webkit-box-shadow: 0 0 4px #ddd;
    -moz-box-shadow: 0 0 4px #ddd;
    box-shadow: 0 0 4px #ddd;
    background-image: -owg-linear-gradient(#eee,#fff 20%,#fff 80%);
    background-image: -webkit-linear-gradient(#eee,#fff 20%,#fff 80%);
    background-image: -moz-linear-gradient(#eee,#fff 20%,#fff 80%);
    background-image: -o-linear-gradient(#eee,#fff 20%,#fff 80%);
    background-image: linear-gradient(#eee,#fff 20%,#fff 80%);
}

.client-table {
    width: 100%;
}

.head {
    overflow: hidden;
}

.client-table tr th {
    height: 30px;
    line-height: 30px;
    color: #A2A2A2;
    font-weight: 100;
}

.client-table tr {
    height: 35px;
}



.basic-row {
    border-top: 1px solid #ddd;
    padding: 5px 0;
}

    .basic-row td.td1 {
        width: 100%;
    }

    .basic-row td.td3 {
        width: 50%;
    }

    .basic-row td.td3 {
        width: 33.3%;
    }

    .basic-row td {
        width: 16%;
    }

    .basic-row p {
        width: 100%;
        margin: 0;
        padding: 0;
    }

        .basic-row p:first-child {
            color: #A2A2A2;
        }

        .basic-row p span {
            width: auto;
            display: inline-block;
        }

.two {
    height: 36px;
    line-height: 36px;
}

.basic-row td.td1 .two > span:first-child {
    width: 560px;
    line-height: 24px;
    word-wrap: break-word;
}

.basic-row td.td2 .two > span:first-child {
    width: 260px;
    line-height: 24px;
    word-wrap: break-word;
}

.basic-row td.td3 .two > span:first-child {
    width: 160px;
    line-height: 24px;
    word-wrap: break-word;
}



.title {
    font-size: 16px;
    color: #000;
}

.base-title {
    float: left;
}

.btn-update {
    color: #000;
    margin-left: 10px;
    cursor: pointer;
}

.update {
    color: #f79d11;
    cursor: pointer;
}

.shop-habits {
    width: 100%;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.1);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.1);
    box-shadow: 1px 1px 1px rgba(0,0,0,.1);
    background-image: -owg-linear-gradient(#eee,#fff 20%,#fff 80%);
    background-image: -webkit-linear-gradient(#eee,#fff 20%,#fff 80%);
    background-image: -moz-linear-gradient(#eee,#fff 20%,#fff 80%);
    background-image: -o-linear-gradient(#eee,#fff 20%,#fff 80%);
    background-image: linear-gradient(#eee,#fff 20%,#fff 80%);
    padding: 10px;
}

.shop-habits-head {
    text-align: left;
    font-size: 18px;
    font-weight: 100;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.shop-habit-chart {
    width: 100%;
    height: 85%;
}

.horizon {
    float: left;
    width: 50%;
    height: 190px;
    padding: 0 10px;
}

.first {
    border-right: 1px dashed #ddd;
}

.promotion-like-content {
    padding: 0 20px;
    margin: 0 auto;
}

.promotion-like-content-lable {
    display: inline-block;
    width: 62px;
    vertical-align: middle;
    float: left;
    font-weight: 400;
    color: #666;
    padding-top: 8px;
}

.pg-bar-box {
    margin: 5px 0 0 82px;
    height: 10px;
    line-height: 10px;
    background: #e3dddd;
    border-radius: 5px;
    position: relative;
}

    .pg-bar-box p {
        height: 10px;
        background: #fda316;
        border-radius: 5px;
        position: relative;
        color: #FDA316;
        width: 54%;
    }

    .pg-bar-box span {
        position: absolute;
        top: -16px;
        right: -13px;
    }

.full {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.right-info {
    width: calc(100% - 670px);
    min-width: 220px;
    height: 100%;
    float: right;
    list-style: none;
    background: #F1F1F1;
    margin-bottom: 10px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

    .right-info dt {
        width: 100%;
        height: 120px;
        padding: 20px 10px;
        background: #E3E3E3;
        position: relative;
    }

    .right-info dd {
        width: 100%;
        padding: 10px;
        overflow: hidden;
        margin: 0;
    }

    .right-info dt img {
        width: 80px;
        height: 80px;
        border: 0;
        float: left;
    }

    .right-info .img-right {
        float: left;
        padding-left: 10px;
    }

    .right-info dt .img-right h3 span.name {
        width: 66px;
        font-size: 16px;
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .right-info .img-right h3 i.sex {
        width: 22px;
        height: 22px;
        margin: 2px 0 0 10px;
        background: url(../IXImage/profile_icon.png) no-repeat;
        background-position: 22px 22px;
    }

    .right-info dt .img-right h3 i.sex.male {
        background-position: 0 0;
    }

    .right-info dt .img-right h3 i.sex.female {
        background-position: -22px 0;
    }

    .right-info dt .img-right h3 i, .right-info dt .img-right h3 span {
        display: inline-block;
    }

    .right-info dt .img-right p {
        margin: 0;
        overflow: hidden;
        font-weight: 100;
    }

        .right-info dt .img-right p i {
            width: 22px;
            height: 22px;
            background: url(../IXImage/client360.png);
        }

        .right-info dt .img-right p.member i, .right-info dt .img-right p.member span {
            display: block;
            float: left;
        }

        .right-info dt .img-right p.member i {
            display: inline-block;
            /*cursor: pointer;*/
            background-position: -1px -162px;
        }

        .right-info dt .img-right p.integral i, .right-info dt .img-right p.integral span {
            display: block;
            float: left;
        }

        .right-info dt .img-right p.integral i {
            display: inline-block;
            /*cursor: pointer;*/
            background-position: -1px -185px;
        }

    .right-info dd.dd-before {
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
    }

        .right-info dd.dd-before p.add-tag {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

            .right-info dd.dd-before p.add-tag i {
                width: 20px;
                height: 20px;
                float: right;
                cursor: pointer;
                display: inline-block;
                background: url(../IXImage/menu_icon.png?b=1050) no-repeat;
                background-position: -155px -155px;
            }

        .right-info dd.dd-before ul.keywords {
            height: 98px;
            overflow-y: auto;
            padding: 0;
            margin: 0;
        }

    .right-info dd.user-worth {
        padding: 10px 0 10px 30px;
    }

        .right-info dd.user-worth span {
            height: 62px;
            line-height: 62px;
            display: block;
            float: left;
        }

        .right-info dd.user-worth div.mp {
            width: 72px;
            height: 72px;
            float: left;
            margin: 0 10px;
            overflow: hidden;
            position: relative;
            background: #e3dedd;
            border-radius: 50%;
        }


            .right-info dd.user-worth div.mp p {
                position: absolute;
                z-index: 3;
                width: 100%;
                height: 100%;
                background: url(../IXImage/profile_icon.png?b=1050) no-repeat;
                background-position: 22px -80px;
            }

                .right-info dd.user-worth div.mp p.loyalty {
                    background-position: -42px -80px;
                }

                .right-info dd.user-worth div.mp p.loveness {
                    background-position: -107px -84px;
                }

    .right-info dd.dd-last {
        margin-top: 10px;
        border-top: 1px solid #ddd;
    }

        .right-info dd.dd-last .title {
            font-size: 16px;
        }

    .right-info dd .abnormal {
        padding: 0;
        height: 319px;
        overflow-y: auto;
        margin-bottom: 0;
    }

        .right-info dd .abnormal li {
            line-height: 20px;
            font-size: 12px;
            color: #666;
            border-bottom: 1px dashed #ddd;
        }

            .right-info dd .abnormal li p {
                margin: 0;
            }

                .right-info dd .abnormal li p.date {
                    color: #bfbfbf;
                }

ul.brand-data {
    width: 100%;
    min-width: 880px;
    margin: 0 10px 0 0px;
    padding: 20px 0;
    overflow: hidden;
    border: 1px solid #ddd;
    -webkit-box-shadow: 1px 1px 1px #ddd;
    -moz-box-shadow: 1px 1px 1px #ddd;
    box-shadow: 1px 1px 1px #ddd;
    background-image: -owg-linear-gradient(#eee,#fff 20%,#fff 80%);
    background-image: -webkit-linear-gradient(#eee,#fff 20%,#fff 80%);
    background-image: -moz-linear-gradient(#eee,#fff 20%,#fff 80%);
    background-image: -o-linear-gradient(#eee,#fff 20%,#fff 80%);
    background-image: linear-gradient(#eee,#fff 20%,#fff 80%);
}

    ul.brand-data li {
        width: 25%;
        height: 200px;
        float: left;
        border-right: 1px dashed #ddd;
        list-style: none;
        text-align: center;
    }

        ul.brand-data li .layout-template-profile-chart {
            width: 90%;
            height: 100%;
            margin: 5%;
        }

.layout-report-center, .layout-report-rings {
    width: 100%;
    height: 100%;
}

    .layout-report-center .layout-report-center-title, .layout-report-rings .layout-report-rings-title {
        text-align: center;
        width: 100%;
    }

    .layout-report-rings .layout-report-rings-charts {
        width: 100%;
        height: 85%;
        position: relative;
    }

        .layout-report-rings .layout-report-rings-charts .layout-report-rings-first {
            width: 60%;
            height: 60%;
            position: relative;
        }

        .layout-report-rings .layout-report-rings-charts .layout-report-rings-second {
            width: 40%;
            height: 40%;
            position: absolute;
            top: 60px;
            left: 90px;
        }

        .layout-report-rings .layout-report-rings-charts .layout-report-rings-third {
            width: 30%;
            height: 30%;
            position: absolute;
            top: 100px;
            left: 40px;
        }

    .layout-report-rings .layout-report-rings-overlay {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        margin: -10px 0 0 -50%;
        height: 20px;
        line-height: 20px;
        text-align: center;
    }

ul.brand-data li dl.dl1 {
    overflow: hidden;
    zoom: 1;
    margin: 30px 20px;
}

    ul.brand-data li dl.dl1 dt {
        width: 60px;
        float: left;
        font-weight: 400;
        color: #666;
        height: 24px;
        line-height: 24px;
    }

    ul.brand-data li dl.dl1 dd {
        margin-left: 70px;
        background: #ffa517;
        border-radius: 4px;
        padding: 2px 7px;
        color: #fff;
        position: relative;
    }

    ul.brand-data li dl.dl1.red dd {
        background: #eb6877;
    }

    ul.brand-data li dl.dl1.gray dd {
        background: #aca6a6;
    }

    ul.brand-data li dl.dl1 dd i {
        font-style: normal;
        vertical-align: middle;
    }

    ul.brand-data li dl.dl1 dd span {
        width: 55px;
        vertical-align: middle;
    }

    ul.brand-data li dl.dl1 dd i {
        font-style: normal;
        vertical-align: middle;
    }

    ul.brand-data li dl.dl1 dd em {
        position: absolute;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid #ffa517;
        left: -5px;
        top: 50%;
        margin-top: -4px;
    }

    ul.brand-data li dl.dl1.red dd em {
        border-right-color: #eb6877;
    }

    ul.brand-data li dl.dl1.gray dd em {
        background: #aca6a6;
    }

.text-ellipsis {
    display: inline-block;
    width: 100px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail-list {
    border: 1px solid #ddd;
    overflow: hidden;
    clear: both;
    -webkit-box-shadow: 1px 1px 1px #ddd;
    -moz-box-shadow: 1px 1px 1px #ddd;
    box-shadow: 1px 1px 1px #ddd;
    background: #eee;
}

    .detail-list .detail-list-head {
        height: 50px;
        line-height: 50px;
        padding: 0 10px;
        background: #f5f5f5;
        border-bottom: 1px solid #ddd;
    }

    .detail-list ul.dlc-label {
        width: 138px;
        padding: 0;
        float: left;
        margin: 0;
    }

        .detail-list ul.dlc-label li.on {
            cursor: auto;
            color: #333;
            border-left: 5px solid #faa113;
            background: #fff;
        }

        .detail-list ul.dlc-label li {
            width: 138px;
            height: 48px;
            overflow: hidden;
            line-height: 48px;
            color: #999;
            float: none;
            text-align: center;
            cursor: pointer;
            border-bottom: 1px solid #ddd;
        }

    .detail-list .dlc-item-box {
        width: calc(100% - 138px);
        min-width: 740px;
        float: right;
        background: #fff;
    }

        .detail-list .dlc-item-box .taglib {
            overflow: hidden;
            zoom: 1;
            padding: 30px 0 0 40px;
        }

            .detail-list .dlc-item-box .taglib li {
                float: left;
                width: calc(100%/2);
                min-width: 330px;
                height: 38px;
                line-height: 32px;
                background: url(../IXImage/pf_bg01.png?b=1050) no-repeat 0 -6px;
                margin: 0 0 20px;
                padding: 0 15px;
            }

                .detail-list .dlc-item-box .taglib li span {
                    display: block;
                    width: 145px;
                    padding-left: 15px;
                    float: left;
                    color: #fff;
                }

                    .detail-list .dlc-item-box .taglib li span.r {
                        color: #666;
                    }

.right-content {
    width: 100%;
    min-width: 900px;
    height: 100%;
    min-height: 350px;
    float: right;
    background: #fff;
}

.top-box {
    width: 100%;
    height: 70px;
    overflow: hidden;
}

    .top-box .order-top {
        width: 100%;
        height: 65px;
        -webkit-box-shadow: 0 0 5px #C8C8C8;
        -moz-box-shadow: 0 0 5px #C8C8C8;
        box-shadow: 0 0 5px #C8C8C8;
        overflow: hidden;
    }

        .top-box .order-top .left-title {
            width: 300px;
            height: 30px;
            line-height: 24px;
            margin: 20px;
            float: left;
            color: #FAAC16;
        }

.right-content .filter {
    overflow: hidden;
    padding: 0 0 10px;
    border-bottom: 1px solid #E0E0E0;
    margin: 0;
}

    .right-content .filter.order-table {
        border-bottom: 0;
        margin: 10px 0;
    }

    .right-content .filter > li {
        float: left;
        margin-left: 10px;
        margin-top: 10px;
        overflow: hidden;
    }

        .right-content .filter > li select {
            width: 150px;
            float: left;
        }

.control-label-long, .control-label-short {
    float: left;
    padding-top: 5px;
    text-align: right;
}

.control-label-long {
    width: 90px;
}

.control-label-short {
    width: 10px;
}

.controls-text {
    float: left;
    margin-left: 10px;
}

@media (min-width: 979px) {
    .select {
        width: 154px;
    }
}

@media (max-width: 979px) {
    .select {
        width: 123px;
    }
}

.querry {
    float: right;
}

.basic-row input, select {
    width: 95%;
}

.sepH_a strong {
    line-height: 24px;
}

.sepH_a span {
    line-height: 24px;
}

.memInfoBlock .memInfoList {
    line-height: 1.1;
}

@media (max-width: 900px) {
    .member_d {float: left; margin-top: 4px; width:100%;}
    .width_r {
        width: 100% !important;
    }
    .one_r { margin-top:10px;}
}