@{
    ViewBag.Title = "车辆基本信息维护";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @System.Web.Optimization.Styles.Render("~/VGebo/chosen.css")
}
<div class="row-fluid heading">
    <div class="pull-left">
        <h3>车款维护</h3>
    </div>
</div>

<div class="sepH_c">
    <div class="well moreHid firstShow">
        <div class="row-fluid">
            <div class="span2">
                <label>品牌</label>
                <select class="span12 chzn_a" id="drpVehicleBrand">
                    <option value=''>-品牌-</option>
                </select>
            </div>
            <div class="span2">
                <label>车系</label>
                <select class="span12 chzn_a" id="drpVehicleType">
                    <option value=''>-车系-</option>
                </select>
            </div>
            <div class="span2">
                <label>车型</label>
                <select class="span12 chzn_a" id="drpVehicleSeries">
                    <option value=''>-车型-</option>
                </select>
            </div>
            <div class="span6">
                <div class="pull-left sepV_a">
                    <label></label>
                    <br />
                    <button class="btn" id="btnSearch">查询</button>&nbsp;
                    <button class="btn" onclick="addBrand()">新建品牌</button>
                    <button class="btn" onclick="addSeries()">新建车系</button>
                    <button class="btn" onclick="addType()">新建车型</button>
                </div>
            </div>

        </div>
    </div>
    <h3>车辆品牌</h3>
    <table class="table" data-provides="rowlink" id="dt_VehicleBrandTable">
    </table>
    <h3>车辆车系</h3>
    <table class="table" data-provides="rowlink" id="dt_VehicleSeriesTable">
    </table>
    <h3>车辆车型</h3>
    <table class="table" data-provides="rowlink" id="dt_VehicleTypeTable">
    </table>
</div>

<!--新建品牌弹窗页-->
<div class="hide">
    <div id="addVehicle_Brand" class="cbox_content" style="width: 480px">

        <div class="row-fluid heading">
            <div class="pull-left">
                <h3>新建/编辑</h3>
            </div>
        </div>
        @using (Ajax.BeginForm(null, null, new AjaxOptions { }, new { id = "frmAddVehicleBrand" }))
        {
            <div class="formSep">
                <div class="row-fluid sepH_b">
                    <div class="span6 title-left">
                        品牌名称<span style="color: red"> * </span>
                        <input type="text" name="addBrand" class="span8" id="addBrand" />
                        <span class="error-block"></span>
                    </div>
                    <div class="span6 title-left">
                        品牌代码<span style="color: red"> * </span>
                        <input type="text" name="addBrandCode" class="span8" id="addBrandCode" />
                        <span class="error-block"></span>
                    </div>

                    <input type="hidden" id="txtBrandId" />
                </div>

            </div>
            <div class="row-fluid">
                <div class="pull-right">
                    <button type="button" class="btn" onclick="$.colorbox.close();">取消</button>&nbsp;
                            <button type="submit" class="btn btn-info sepV_a">保存</button>&nbsp;
                </div>
            </div>
        }
    </div>
</div>

<!--新建车系弹窗页-->
<div class="hide">
    <div id="addVehicle_Series" class="cbox_content" style="width: 480px">

        <div class="row-fluid heading">
            <div class="pull-left">
                <h3>新建/编辑</h3>
            </div>
        </div>
        @using (Ajax.BeginForm(null, null, new AjaxOptions { }, new { id = "frmAddVehicleSeries" }))
        {
            <div class="formSep">
                <div class="row-fluid sepH_b">
                    <div class="span6 title-left">
                        所属品牌<span style="color: red"> * </span>
                        <select id="drpBrand" name="drpBrand" class="span8">
                        </select>
                        <span class="error-block"></span>
                    </div>
                    <input type="hidden" id="txtSeriesId" />
                </div>
                <div class="row-fluid sepH_b">
                    <div class="span6 title-left">
                        车系名称<span style="color: red"> * </span>
                        <input type="text" name="addSeriesName" class="span8" id="addSeriesName" />
                        <span class="error-block"></span>
                    </div>
                    <div class="span6 title-left">
                        车系代码<span style="color: red"> * </span>
                        <input type="text" name="addSeriesCode" class="span8" id="addSeriesCode" />
                        <span class="error-block"></span>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="pull-right">
                    <button type="button" class="btn" onclick="$.colorbox.close();">取消</button>&nbsp;
                            <button type="submit" class="btn btn-info sepV_a">保存</button>&nbsp;
                </div>
            </div>
        }
    </div>
</div>

<!--新建车型弹窗页-->
<div class="hide">
    <div id="addVehicle_Type" class="cbox_content" style="width: 480px">

        <div class="row-fluid heading">
            <div class="pull-left">
                <h3>新建/编辑</h3>
            </div>
        </div>
        @using (Ajax.BeginForm(null, null, new AjaxOptions { }, new { id = "frmAddVehicleType" }))
        {
            <div class="formSep">
                <div class="row-fluid sepH_b">
                    <div class="span6 title-left">
                        所属品牌<span style="color: red"> * </span>
                        <select id="drpBrand_Type" name="drpBrand" class="span8">
                            <option value=''>-品牌-</option>
                        </select>
                        <span class="error-block"></span>
                    </div>
                    <div class="span6 title-left">
                        所属车系<span style="color: red"> * </span>
                        <select id="drpSeries" name="drpSeries" class="span8">
                            <option value=''>-车系-</option>
                        </select>
                        <span class="error-block"></span>
                    </div>
                    <input type="hidden" id="txtTypeId" />
                </div>
                <div class="row-fluid sepH_b">
                    <div class="span6 title-left">
                        车型名称<span style="color: red"> * </span>
                        <input type="text" name="addTypeName" class="span8" id="addTypeName" />
                        <span class="error-block"></span>
                    </div>
                    <div class="span6 title-left">
                        车型代码<span style="color: red"> * </span>
                        <input type="text" name="addTypeCode" class="span8" id="addTypeCode" />
                        <span class="error-block"></span>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="pull-right">
                    <button type="button" class="btn" onclick="$.colorbox.close();">取消</button>&nbsp;
                            <button type="submit" class="btn btn-info sepV_a">保存</button>&nbsp;
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
    @System.Web.Optimization.Scripts.Render("~/Gebo/lib/validation/jquery.validate.js", "~/Scripts/Framework/jquery.validate.extend.js")

    @System.Web.Optimization.Scripts.Render("~/Gebo/lib/chosen/chosen.jquery.min.js")
    @System.Web.Optimization.Scripts.Render("~/Scripts/Pages/BaseData/VehicleInfo.js")
}
