@using (Ajax.BeginForm(null, null, new AjaxOptions { }, new { id = "frmTimeSetting" }))
{
    <div class="row-fluid">
        <div class="span2">
            <label>&nbsp;&nbsp; </label>
            <input type="radio" id="runType1" name="runType" value="1" checked="checked">
            指定时间执行一次
        </div>
        <div class="span2">
            <label>设置指定时间</label>
            <input type="text" placeholder="指定日期" class="span12" id="planDate" readonly="readonly" />
        </div>
        <div class="span2">
            <label>&nbsp;&nbsp;  </label>
            <input type="text" placeholder="指定时间" class="span12" id="planTime" readonly="readonly" />
        </div>
    </div>
    <div class="formSep row-fluid">
        <div class="span2">
            <label>&nbsp;&nbsp; </label>
            <input type="radio" id="runType0" name="runType" value="0" />
            周期计算
        </div>
        <div class="span2">
            <label>周期</label>
            <select id="runCycle" class="span12">
                <option value="Day">每天</option>
                <option value="Week">每周</option>
                <option value="Month">每月</option>
                <option value="Year">每年</option>
            </select>
        </div>
        <div class="span2 hide" id="cycleWeek">
            <label>每周</label>
            <select id="planWeek" class="span12">
                <option value="Monday">星期一</option>
                <option value="Tuesday">星期二</option>
                <option value="Wednesday">星期三</option>
                <option value="Thurday">星期四</option>
                <option value="Friday">星期五</option>
                <option value="Saturday">星期六</option>
                <option value="Sunday">星期日</option>
            </select>
        </div>
        <div class="span2 form-inline hide" id="cycleFirstEnd">
            <label class="span5 sepV_c">
                第一天<br />
                <span class="title-left">
                    <input type="radio" id="planCycleFirst" value="First" name="planCycle" checked="checked" />
                </span>
            </label>
            <label class="span5">
                最后一天<br />
                <span class="title-left">
                    <input type="radio" id="planCycleLast" value="Last" name="planCycle" />
                </span>
            </label>
        </div>
        <div class="span2 hide" id="cycleMonth">
            <label>每月</label>
            <div class="pull-left sepV_a">
                <input type="radio" id="planCycleAssign" value="Assign" name="planCycle" />
            </div>
            <select id="planDay" class="span10">
                <option selected value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
            </select>
        </div>
        <div class="span2">
            <label>设置每天时间</label>
            <input id="planTime1" type="text" value="指定时间" class="span12" data-label="3" readonly="readonly" />
        </div>
    </div>    
    <div class="row-fluid">
        <div class="span2">
            <label>有效市场活动总人数</label>
        </div>
        <div class="span2">
            <input type="text" id="txtPersonCount" name="personcount" class="span12" value="0" disabled="disabled" />
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
            <label>&nbsp;&nbsp; </label>
            <input type="radio" id="rdoRate" name="reg_gender" value="option7" checked="checked" />
            执行比例
        </div>
        <div class="span2">
            <label>设置指定比例（%）</label>
            <input type="text" id="txtExRate" placeholder="指定比例" class="span12" value="100" />
        </div>
    </div>
    <div class="formSep row-fluid">
        <div class="span2">
            <label>&nbsp;&nbsp; </label>
            <input type="radio" id="rdoCount" name="reg_gender" value="">
            执行数量
        </div>
        <div class="span2">
            <label>设置执行数量（人）</label>
            <input type="text" id="txtExCount" placeholder="指定数量" class="span12" />
        </div>
    </div>
    <div class="row-fluid">
        <div class="pull-right">
            <button type="submit" class="btn btn-info sepV_a btnSave">保存</button>
            <button type="button" class="btn btn-info sepV_a" id="btnActive">激活</button>
            <button class="btn btn-danger sepV_a" id="btnDeactive">取消激活</button>
            @*<button type="button" class="btn sepV_c btnBack">返回</button>*@
        </div>
    </div>
}