/* ---- Gebo Admin blue theme ---- */

.navbar-inner {
	background: #272231;
	background: -moz-linear-gradient(top, #272231 0%, #2d2837 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #272231), color-stop(100%, #2d2837));
	background: -webkit-linear-gradient(top, #272231 0%, #2d2837 100%);
	background: -o-linear-gradient(top, #272231 0%, #2d2837 100%);
	background: -ms-linear-gradient(top, #272231 0%, #2d2837 100%);
	background: linear-gradient(top, #272231 0%, #2d2837 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#272231', endColorstr='#2d2837', GradientType=0);
}

.navbar .nav> li> a {
	color: #fff;
}

.navbar .nav> li:hover> a {
	color: #ffa517;
}

.navbar .nav .active> a,
.navbar .nav .active> a:hover {
	background: #206484 !important;
	color: #fff;
}

.navbar .divider-vertical {
	border-left-color: #2078A1;
	border-right-color: #3497C2;
}

.dropdown-menu li> a:hover,
.dropdown-menu .active> a,
.dropdown-menu .active> a:hover,
.nav-list> .active> a,
.nav-list> .active> a:hover,
{
	background: #ffa517 !important;
}

span.dynatree-active a {
	background: none !important;
	color: #ffa517 !important;
}

.table thead th {
	/*background: -webkit-linear-gradient(top, #4f476c 0%, #60587d 100%);*/
	color: #fff;
	border-left: 1px solid #6C608E;
	border-bottom: 1px solid #514a6b;
	background: #524A6F;
	text-align: center;
}

.dataTables_wrapper th.sorting_asc,
.dataTables_wrapper th.sorting_desc {
	background-color: #524A6F !important
}

.tab-content table.table tbody tr:hover {
	background: #eeeeee;
	cursor: pointer;
}