@{
    ViewBag.Title = "RetrieveAddNew";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid heading">

    <div class="pull-left">
        <h3>新增收卡</h3>
    </div>       
</div>


<div class="sepH_c row-fluid">
    <div class="well firstShow ">    
        <div class="formSep">
            <div class="row-fluid sepH_b" id="modalAdd">
                  <div class="span10">
                  <label>定卡单单号<span style="color: red"> * </span></label>
                    <select id="customizeOddIdNo" name="customizeOddIdNo" class="chzn_a span6"></select>       
                    <span class="error-block"></span>
                </div>
                 
                <div class="span4">
                @*    <button class="btn btn-primary" id="autoCard">自动生成卡号</button>*@
                 @*   <button id="btnAdd" class="btn btn-primary">添加</button>*@                  
                    <button id="btnSave" class="btn btn-info sepV_a" style="display:none">保存</button>&nbsp;
                    <button id="btnSaveStatus" class="btn btn-info sepV_a">保存并审核</button>&nbsp;        
                    <button id="btnReset" class="btn">重置</button>&nbsp;
                </div>
                <div class="span7"> 
                      @using (Html.BeginForm("RetrieveNew", "PurchasesNew", FormMethod.Post, new {@Id="form",@class = "span6"}))
                      {
                                <button id="returnPrev" class="btn">返回</button>
                      }               

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
@System.Web.Optimization.Scripts.Render("~/Gebo/lib/validation/jquery.validate.js", "~/Scripts/Framework/jquery.validate.extend.js")
@System.Web.Optimization.Scripts.Render("~/Gebo/lib/chosen/chosen.jquery.min.js") 
@System.Web.Optimization.Scripts.Render("~/Gebo/lib/plupload/js/plupload.js", "~/Gebo/lib/plupload/js/plupload.gears.js", "~/Gebo/lib/plupload/js/plupload.silverlight.js", "~/Gebo/lib/plupload/js/plupload.flash.js", "~/Gebo/lib/plupload/js/plupload.browserplus.js", "~/Gebo/lib/plupload/js/plupload.html4.js", "~/Gebo/lib/plupload/js/plupload.html5.js")
@System.Web.Optimization.Scripts.Render("~/Scripts/Pages/PurchasesNew/RetrieveAddNew.js")
}