@{
    ViewBag.Title = "会员卡解挂";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Arvato.CRM.Model.Member360SearchModel


<div class="row-fluid heading">
    <div class="pull-left">
        <h3>会员卡解挂</h3>
    </div>
    <div class="pull-right">
        <button class="btn" onclick="window.location = '/Member360/CardChange'">返回</button>
    </div>
</div>
<div class="row-fluid sepH_c">

    <div class="well form-inline">
        @using (Ajax.BeginForm(null, null, new AjaxOptions { }, new { id = "search" }))
        {
            <div class="">
                <div class="form-inline">
                    <div class="span3">
                        <label class="title-left sepV_a ml10">卡号</label>
                        <input type="text" class="input-medium span12" id="txtCardNos"  value="" />
                    </div>
                    <div class="span3">
                        <label class="title-left sepV_a ml10">手机号</label>
                        <input type="text" class="input-medium span12" id="txtPhone"  value="" />
                    </div>
                    <div class="span3">
                        <label class="title-left sepV_a ml10">会员号</label>
                        <input type="text" class="input-medium span12" id="txtMem"  value="" />
                    </div>
                    <div class="span3">
                        <label class="title-left sepV_a ml10">身份证号</label>
                        <input type="text" class="input-medium span12" id="txtIdNum"  value="" />
                    </div>
                    
                </div>
                <div class="q_btn">
                    <button class="btn" type="submit">查询</button>
                </div>
            </div>
        }
    </div>
    <table class="table" data-provides="rowlink" id="dt_Cardlist">
        <thead>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>
@*<div class="row-fluid" id="detail" style="display: none">
    <div class="form-inline">
        <div class="span3">
            <input type="hidden" id="hdActive" />
            <input type="hidden" id="hdAvai" />
            <label>会员卡号：<span id="cardNo"></span></label>
        </div>
        <div class="span2">

            <label>会员姓名：<span id="name"></span></label>
        </div>
        <div class="span2">
            <label>当前状态：<span id="lockBefore"></span></label>
        </div>
        <div class="span2">
            <label>调整后状态：<span id="lockAfter"></span></label>
        </div>
    </div>
    <div class="row-fluid">
          <div class="span12">
             <label>调整原因：</label><textarea name="" id="txtReason" cols="10" rows="3" class="span9" placeholder="请输入调整原因"></textarea>
        </div>
        <div class="span9">
            <button class="btn btn-info pull-right sepV_c" id="btnUnLock">解挂</button>
        </div>
    </div>
</div>*@

<div class="hide">
    <div id="table_card" class="cbox_content popComLg" >
        <div class="modal-body">
            <div class="sepH_c">
                <div class="row-fluid title-left">
                    <div class="span3">
                        <input type="hidden" id="hdActive" />
                        <input type="hidden" id="hdMemId" />
                        <input type="hidden" id="hdAvai" />
                        <label>会员卡号：<span id="cardNo"></span></label>
                    </div>
                    <div class="span3">

                        <label>会员姓名：<span id="name"></span></label>
                    </div>
                    <div class="span3">
                        <label>当前状态：<span id="lockBefore"></span></label>
                    </div>
                    <div class="span3">
                        <label>调整后状态：<span id="lockAfter"></span></label>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span11">
                       <label>代理人姓名：</label><input id="txtDName" />
                        <label>代理人身份证：</label><input id="txtDId" />
                        <label>代理人手机：</label><input id="txtDPhone" />
                    </div>
                    <div class="span11">
                        <button class="btn btn-info pull-right sepV_c" id="btnSave">保存</button>
                        <button class="btn btn-info pull-right sepV_c" id="btnLock">保存并审核</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hide">
    <div id="table_dialog" class="cbox_content popComLg">
        <div class="modal-header">
            <h3>会员信息</h3>
        </div>
        <div class="modal-body">
            <div class="sepH_c">
                <div class="row-fluid title-left">
                    <div class="span2">
                        <label>会员卡号</label>
                        <input type="text" class="span12" id="txtCardNo" disabled="disabled" />
                    </div>
                    <div class="span2">
                        <label>姓名</label>
                        <input type="text" class="span12" id="txtName" disabled="disabled" />
                    </div>
                    <div class="span2">
                        <label>手机</label>
                        <input type="text" class="span12"  id="txtMobile" disabled="disabled" />

                    </div>
                    <div class="span2">
                        <label>邮箱</label>
                        <input type="text" class="span12"  id="txtEmail" disabled="disabled" />
                    </div>
                    <div class="span2">
                        <label>入会门店</label>
                        <input type="text" class="span12"  id="txtStore" disabled="disabled" />
                    </div>
                    <div class="span2">
                        <label>入会时间</label>
                        <input type="text" class="span12" id="txtRegister" disabled="disabled" />
                    </div>
                </div>
                <div class="row-fluid">
                    @*<div class="span2">
                        <label>现金账户</label>
                        <input type="text" class="span12"  id="txtCash1" disabled="disabled" />
                    </div>
                    <div class="span2">
                        <label>积点账户</label>
                        <input type="text" class="span12" id="txtCash2" disabled="disabled" />
                    </div>
                     <div class="span2">
                        <label>积分账户</label>
                        <input type="text" class="span12" id="txtPoint1" disabled="disabled" />
                    </div>*@
                     
                     <div class="span2">
                        <label>证件类型</label>
                        <select id="txtIDType" name="txtIDType" class="span12" disabled="disabled">
                            <option value="1">身份证</option>
                            <option value="2">护照</option>
                            <option value="3">军官证</option>
                        </select>
                    </div>
                           <div class="span2">
                        <label>证件号码</label>
                        <input type="text" class="span12" id="txtID" disabled="disabled" />
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
@section Scripts{
    @System.Web.Optimization.Scripts.Render("~/Gebo/lib/validation/jquery.validate.js", "~/Scripts/Framework/jquery.validate.extend.js")
    @System.Web.Optimization.Scripts.Render("~/Scripts/Pages/Member360/CardUnlock.js")
}
